// Margin
.m-0 {
    margin: 0;
}
.mx-0 {
    margin-left: 0;
    margin-right: 0;
}
.mr-1 {
    margin-right: 5px;
}

// Padding
.p-1 {
    padding: 5px;
}
.p-2 {
    padding: 10px;
}
.pl-2 {
    padding-left: 10px;
}