<ion-toolbar mode="ios" class="main-header">
	<ion-buttons slot="start">
		<!-- <ion-button fill="clear" color="dark">
            <i class="remixicon-menu-line ri-2x"></i>
        </ion-button> -->
		<ion-back-button defaultHref="/tabs"></ion-back-button>
	</ion-buttons>
	<div text-center>
		<ion-title>
			Create your schedule
		</ion-title>
	</div>
	<ion-buttons slot="end">
		<!-- <ion-button fill="clear" color="dark">
            <i class="remixicon-notification-line ri-2x"></i>
        </ion-button> -->
		<ion-button fill="clear" color="dark" (click)="logout()">
			<i class="remixicon-login-circle-line ri-2x"></i>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content padding>

        <form #form="ngForm" (ngSubmit)="setSchedule(form)">
            <ion-card>
                <ion-item>
                    <ion-label>Date</ion-label>
                    <ion-datetime name="date" type="Date"  placeholder="YYYY-MM-DD"  ngModel min="{{todayDate | date :'yyyy-MM-dd'}}" ngModel display-format="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" ></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>Start Time</ion-label>
                    <ion-datetime name="slot_start" type="Date" ngModel displayFormat="HH:mm" placeholder="24h clock"
                    ></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>End Time</ion-label>
                    <ion-datetime name="slot_end" type="Date" ngModel displayFormat="HH:mm" placeholder="24h clock"></ion-datetime>
                </ion-item>
            </ion-card>

            <ion-button class="ion-margin-vertical mx-0" size="large" type="submit" [disabled]="form.invalid" expand="block" >Set Schedule</ion-button>
        </form>

    <div class="section-title">
        <h6 class="ion-padding-start">Update Schedule:</h6>
    </div>

    <ion-card class="p-2" *ngFor="let schedule of schedule" (click)="presentActionSheet(schedule)" >
        <div *ngIf="schedule.status == 0">
            <ion-row>
                <ion-col size="5" size-md>
                    <ion-card-content class="ion-no-padding">
                        <i class="remixicon-calendar-event-line mr-1"></i>
                        {{schedule?.date}}
                    </ion-card-content>
                </ion-col>
                <ion-col>
                    <ion-card-content class="ion-no-padding">
                        <i class="remixicon-time-line mr-1"></i>
                        {{schedule?.slot_start}} - {{schedule?.slot_end}}
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </div>
    </ion-card>

</ion-content>