<ion-toolbar mode="ios" class="main-header">
	<ion-buttons slot="start">
		<!-- <ion-button fill="clear" color="dark">
            <i class="remixicon-menu-line ri-2x"></i>
        </ion-button> -->
		<ion-back-button defaultHref="/tabs"></ion-back-button>
	</ion-buttons>
	<div text-center>
		<ion-title>
			Create your schedule
		</ion-title>
	</div>
	<ion-buttons slot="end">
		<!-- <ion-button fill="clear" color="dark">
            <i class="remixicon-notification-line ri-2x"></i>
        </ion-button> -->
		<ion-button fill="clear" color="dark" (click)="logout()">
			<i class="remixicon-login-circle-line ri-2x"></i>
        </ion-button>
    </ion-buttons>
</ion-toolbar>

<ion-content padding>

    <form #form="ngForm" (ngSubmit)="setSchedule(form)">
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-datetime name="date" type="Date"  placeholder="YYYY-MM-DD"  ngModel min="{{todayDate | date :'yyyy-MM-dd'}}" ngModel display-format="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" ></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Start Time</ion-label>
            <ion-datetime name="slot_start" type="Date" ngModel displayFormat="HH:mm" placeholder="24h clock"
            ></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>End Time</ion-label>
            <ion-datetime name="slot_end" type="Date" ngModel displayFormat="HH:mm" placeholder="24h clock"></ion-datetime>
        </ion-item>

        <ion-button size="medium" type="submit" [disabled]="form.invalid" expand="block" >Set Schedule</ion-button>
    </form>

    <div class="section-title">
        <h6 class="ion-padding-start">Update Schedule:</h6>
    </div>

    <ion-card class="bg-white" *ngFor="let schedule of schedule" (click)="presentActionSheet(schedule)" >
        <div *ngIf="schedule.status == 0">
            <ion-item lines="none">
                <span slot="start">Date: {{schedule.date}}</span>
                <!-- <ion-icon ios="ios-trash" md="md-trash" slot="end" color="danger" (click)="delSchedule(schedule.id)"></ion-icon> -->
            </ion-item>
            <ion-item lines="none">
                <ion-label>Time: {{schedule.slot_start}} - {{schedule.slot_end}}</ion-label>
                <!-- <ion-toggle color="dark" slot="end" [checked]=""></ion-toggle> -->
            </ion-item>
        </div>
    </ion-card>

</ion-content>