<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs"></ion-back-button>
          </ion-buttons>
        <ion-title>Payment</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>

  <br><br>
  <div text-center>
    <span>Your Payment History</span>
  </div>

    <ion-list>
        <ion-card  >
          <ion-item lines="none">
              <span slot="start">ID: XY563559</span>
              <span slot="end">Date: 22-12-2018</span>
          </ion-item>
          <ion-item lines="none">
              <ion-label slot="start">Amount: 500 Tk</ion-label>
              <span slot="end">BAKSH</span>
          </ion-item>
        </ion-card>
        <ion-card  >
          <ion-item lines="none">
              <span slot="start">ID: XY563559</span>
              <span slot="end">Date: 22-12-2018</span>
          </ion-item>
          <ion-item lines="none">
              <ion-label slot="start">Amount: 500 Tk</ion-label>
              <span slot="end">BANK</span>
          </ion-item>
        </ion-card>
        <ion-card  >
            <ion-item lines="none">
                <span slot="start">ID: XY563559</span>
                <span slot="end">Date: 22-12-2018</span>
            </ion-item>
            <ion-item lines="none">
                <ion-label slot="start">Amount: 500 Tk</ion-label>
                <span slot="end">BAKSH</span>
            </ion-item>
          </ion-card>
          <ion-card  >
              <ion-item lines="none">
                  <span slot="start">ID: XY563559</span>
                  <span slot="end">Date: 22-12-2018</span>
              </ion-item>
              <ion-item lines="none">
                  <ion-label slot="start">Amount: 500 Tk</ion-label>
                  <span slot="end">ROCKET</span>
              </ion-item>
            </ion-card>
        
      </ion-list>

</ion-content>
